.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
}

.node-finish {
  background-color: deeppink;
}

.node-start {
  background-color: springgreen;
}

.node-visited {
  animation-name: nodeToVisited;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes nodeToVisited {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node-weighted {
  background: radial-gradient(ellipse at center,  #000000cb 0%,#000000cb 47%,#ffffff 48%);
}

.node-weighted-and-visited {
  animation-name: weightedToVisited;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes weightedToVisited {
  0% {
      transform: scale(0.3);
      background: radial-gradient(ellipse at center,  #000000cb 0%,#000000cb 47%,#000000cb 47%,#000000cb 47%,#ffffff 48%);
  }
  
  50% {
      transform: scale(0.9);
      background: radial-gradient(ellipse at center,  #000000cb 0%,#000000cb 47%,#000000cb 47%,#000000cb 47%,rgba(17, 104, 217, 0.75) 48%);
  }
  
  75% {
      transform: scale(1.2);
      background: radial-gradient(ellipse at center,  #000000cb 0%,#000000cb 47%,#000000cb 47%,#000000cb 47%,rgba(0, 217, 159, 0.75) 48%);
  }
  
  100% {
      transform: scale(1);
      background: radial-gradient(ellipse at center,  #000000cb 0%,#000000cb 47%,#000000cb 47%,#000000cb 47%, rgba(0, 190, 218, 0.75) 48%);
  }
}

.node-weighted-and-path {
  background: radial-gradient(ellipse at center,  #000000cb 0%,#000000cb 47%,#000000cb 47%,#000000cb 47%, rgb(255, 254, 106) 48%);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
